In [1]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 28.5 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 51.8 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 330 kB/s
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [2]:
import geopandas as gpd

In [3]:
df = gpd.read_file('IBTrACS.ALL.list.v04r00.lines.shp')
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry
0,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 03:00:00,NR,10.90,80.30,...,None,None,9,266,1842,10,25,3,0,"LINESTRING (80.30005 10.90000, 79.82654 10.87089)"
1,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 06:00:00,NR,10.87,79.83,...,None,None,9,267,1842,10,25,6,0,"LINESTRING (79.82654 10.87089, 79.35242 10.84314)"
2,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 09:00:00,NR,10.84,79.35,...,None,None,9,267,1842,10,25,9,0,"LINESTRING (79.35242 10.84314, 78.87720 10.81882)"
3,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 12:00:00,NR,10.82,78.88,...,None,None,9,267,1842,10,25,12,0,"LINESTRING (78.87720 10.81882, 78.40002 10.80000)"
4,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 15:00:00,NR,10.80,78.40,...,None,None,9,268,1842,10,25,15,0,"LINESTRING (78.40002 10.80000, 77.91931 10.78842)"

In [60]:
df.isna().sum()

SID         0
SEASON      0
NUMBER      0
BASIN       0
SUBBASIN    0
           ..
month       0
day         0
hour        0
min         0
geometry    0
Length: 169, dtype: int64

In [3]:
import pandas as pd

In [4]:
df.dropna(how='all',inplace=True,axis=1)
df

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,MLC_WIND,MLC_PRES,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry
0,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 03:00:00,NR,10.90,80.30,...,NaN,NaN,9,266,1842,10,25,3,0,"LINESTRING (80.30005 10.90000, 79.82654 10.87089)"
1,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 06:00:00,NR,10.87,79.83,...,NaN,NaN,9,267,1842,10,25,6,0,"LINESTRING (79.82654 10.87089, 79.35242 10.84314)"
2,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 09:00:00,NR,10.84,79.35,...,NaN,NaN,9,267,1842,10,25,9,0,"LINESTRING (79.35242 10.84314, 78.87720 10.81882)"
3,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 12:00:00,NR,10.82,78.88,...,NaN,NaN,9,267,1842,10,25,12,0,"LINESTRING (78.87720 10.81882, 78.40002 10.80000)"
4,1842298N11080,1842,1,NI,BB,NOT_NAMED,1842-10-25 15:00:00,NR,10.80,78.40,...,NaN,NaN,9,268,1842,10,25,15,0,"LINESTRING (78.40002 10.80000, 77.91931 10.78842)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7588,1859277N22287,1859,23,NA,NA,NOT_NAMED,1859-10-06 03:00:00,NR,36.48,-64.95,...,110.0,NaN,24,62,1859,10,6,3,0,"LINESTRING (-64.94653 36.48491, -63.59998 36.9..."
7589,1859277N22287,1859,23,NA,NA,NOT_NAMED,1859-10-06 06:00:00,NR,36.90,-63.60,...,110.0,NaN,24,64,1859,10,6,6,0,"LINESTRING (-63.59998 36.90000, -62.28088 37.5..."
7590,1859277N22287,1859,23,NA,NA,NOT_NAMED,1859-10-06 09:00:00,NR,37.55,-62.28,...,110.0,NaN,23,62,1859,10,6,9,0,"LINESTRING (-62.28088 37.54670, -61.00000 38.0..."
7591,1859277N22287,1859,23,NA,NA,NOT_NAMED,1859-10-06 12:00:00,NR,38.00,-61.00,...,110.0,938.0,20,77,1859,10,6,12,0,"LINESTRING (-61.00000 38.00000, -59.82263 37.9..."
7592,1859277N22287,1859,23,NA,NA,NOT_NAMED,1859-10-06 15:00:00,NR,37.99,-59.82,...,110.0,NaN,18,96,1859,10,6,15,0,"LINESTRING (-59.82263 37.98811, -58.69995 37.8..."

In [5]:
df.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON', 'WMO_WIND', 'WMO_PRES', 'WMO_AGENCY',
       'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG', 'USA_AGENCY',
       'USA_ATCFID', 'USA_LAT', 'USA_LON', 'USA_RECORD', 'USA_STATUS',
       'USA_WIND', 'USA_PRES', 'USA_SSHS', 'NEW_CI', 'REU_LAT', 'REU_LON',
       'REU_TYPE', 'REU_TNUM', 'REU_CI', 'BOM_TNUM', 'BOM_CI', 'TD6_LAT',
       'TD6_LON', 'TD6_STAGE', 'MLC_LAT', 'MLC_LON', 'MLC_CLASS', 'MLC_WIND',
       'MLC_PRES', 'STORM_SPD', 'STORM_DR', 'year', 'month', 'day', 'hour',
       'min', 'geometry'],
      dtype='object')

In [6]:
df.drop('NAME',inplace=True,axis=1)

In [7]:
print(df)

                SID  SEASON  NUMBER BASIN SUBBASIN             ISO_TIME  \
0     1842298N11080    1842       1    NI       BB  1842-10-25 03:00:00
1     1842298N11080    1842       1    NI       BB  1842-10-25 06:00:00
2     1842298N11080    1842       1    NI       BB  1842-10-25 09:00:00
3     1842298N11080    1842       1    NI       BB  1842-10-25 12:00:00
4     1842298N11080    1842       1    NI       BB  1842-10-25 15:00:00
...             ...     ...     ...   ...      ...                  ...
7588  1859277N22287    1859      23    NA       NA  1859-10-06 03:00:00
7589  1859277N22287    1859      23    NA       NA  1859-10-06 06:00:00
7590  1859277N22287    1859      23    NA       NA  1859-10-06 09:00:00
7591  1859277N22287    1859      23    NA       NA  1859-10-06 12:00:00
7592  1859277N22287    1859      23    NA       NA  1859-10-06 15:00:00

     NATURE    LAT    LON  WMO_WIND  ...  MLC_WIND MLC_PRES STORM_SPD  \
0        NR  10.90  80.30       NaN  ...       NaN      NaN         9
1        NR  10.87  79.83       NaN  ...       NaN      NaN         9
2        NR  10.84  79.35       NaN  ...       NaN      NaN         9
3        NR  10.82  78.88       NaN  ...       NaN      NaN         9
4        NR  10.80  78.40       NaN  ...       NaN      NaN         9
...     ...    ...    ...       ...  ...       ...      ...       ...
7588     NR  36.48 -64.95       NaN  ...     110.0      NaN        24
7589     NR  36.90 -63.60       NaN  ...     110.0      NaN        24
7590     NR  37.55 -62.28       NaN  ...     110.0      NaN        23
7591     NR  38.00 -61.00       NaN  ...     110.0    938.0        20
7592     NR  37.99 -59.82       NaN  ...     110.0      NaN        18

      STORM_DR  year month day hour  min  \
0          266  1842    10  25    3    0
1          267  1842    10  25    6    0
2          267  1842    10  25    9    0
3          267  1842    10  25   12    0
4          268  1842    10  25   15    0
...        ...   ...   ...  ..  ...  ...
7588        62  1859    10   6    3    0
7589        64  1859    10   6    6    0
7590        62  1859    10   6    9    0
7591        77  1859    10   6   12    0
7592        96  1859    10   6   15    0

                                               geometry
0     LINESTRING (80.30005 10.90000, 79.82654 10.87089)
1     LINESTRING (79.82654 10.87089, 79.35242 10.84314)
2     LINESTRING (79.35242 10.84314, 78.87720 10.81882)
3     LINESTRING (78.87720 10.81882, 78.40002 10.80000)
4     LINESTRING (78.40002 10.80000, 77.91931 10.78842)
...                                                 ...
7588  LINESTRING (-64.94653 36.48491, -63.59998 36.9...
7589  LINESTRING (-63.59998 36.90000, -62.28088 37.5...
7590  LINESTRING (-62.28088 37.54670, -61.00000 38.0...
7591  LINESTRING (-61.00000 38.00000, -59.82263 37.9...
7592  LINESTRING (-59.82263 37.98811, -58.69995 37.8...

[7593 rows x 49 columns]

In [8]:
df.drop('month',inplace=True,axis=1)
df.drop('year',inplace=True,axis=1)
df.drop('day',inplace=True,axis=1)
df.drop('hour',inplace=True,axis=1)
df.drop('min',inplace=True,axis=1)

In [9]:
print(df)

                SID  SEASON  NUMBER BASIN SUBBASIN             ISO_TIME  \
0     1842298N11080    1842       1    NI       BB  1842-10-25 03:00:00
1     1842298N11080    1842       1    NI       BB  1842-10-25 06:00:00
2     1842298N11080    1842       1    NI       BB  1842-10-25 09:00:00
3     1842298N11080    1842       1    NI       BB  1842-10-25 12:00:00
4     1842298N11080    1842       1    NI       BB  1842-10-25 15:00:00
...             ...     ...     ...   ...      ...                  ...
7588  1859277N22287    1859      23    NA       NA  1859-10-06 03:00:00
7589  1859277N22287    1859      23    NA       NA  1859-10-06 06:00:00
7590  1859277N22287    1859      23    NA       NA  1859-10-06 09:00:00
7591  1859277N22287    1859      23    NA       NA  1859-10-06 12:00:00
7592  1859277N22287    1859      23    NA       NA  1859-10-06 15:00:00

     NATURE    LAT    LON  WMO_WIND  ...  TD6_LON TD6_STAGE MLC_LAT  MLC_LON  \
0        NR  10.90  80.30       NaN  ...    80.30       7.0     NaN      NaN
1        NR  10.87  79.83       NaN  ...    79.83       7.0     NaN      NaN
2        NR  10.84  79.35       NaN  ...    79.35       7.0     NaN      NaN
3        NR  10.82  78.88       NaN  ...    78.88       7.0     NaN      NaN
4        NR  10.80  78.40       NaN  ...    78.40       7.0     NaN      NaN
...     ...    ...    ...       ...  ...      ...       ...     ...      ...
7588     NR  36.48 -64.95       NaN  ...      NaN       NaN   36.48   -64.95
7589     NR  36.90 -63.60       NaN  ...      NaN       NaN   36.90   -63.60
7590     NR  37.55 -62.28       NaN  ...      NaN       NaN   37.55   -62.28
7591     NR  38.00 -61.00       NaN  ...      NaN       NaN   38.00   -61.00
7592     NR  37.99 -59.82       NaN  ...      NaN       NaN   37.99   -59.82

      MLC_CLASS MLC_WIND MLC_PRES STORM_SPD  STORM_DR  \
0          None      NaN      NaN         9       266
1          None      NaN      NaN         9       267
2          None      NaN      NaN         9       267
3          None      NaN      NaN         9       267
4          None      NaN      NaN         9       268
...         ...      ...      ...       ...       ...
7588         MH    110.0      NaN        24        62
7589         MH    110.0      NaN        24        64
7590         MH    110.0      NaN        23        62
7591         MH    110.0    938.0        20        77
7592         MH    110.0      NaN        18        96

                                               geometry
0     LINESTRING (80.30005 10.90000, 79.82654 10.87089)
1     LINESTRING (79.82654 10.87089, 79.35242 10.84314)
2     LINESTRING (79.35242 10.84314, 78.87720 10.81882)
3     LINESTRING (78.87720 10.81882, 78.40002 10.80000)
4     LINESTRING (78.40002 10.80000, 77.91931 10.78842)
...                                                 ...
7588  LINESTRING (-64.94653 36.48491, -63.59998 36.9...
7589  LINESTRING (-63.59998 36.90000, -62.28088 37.5...
7590  LINESTRING (-62.28088 37.54670, -61.00000 38.0...
7591  LINESTRING (-61.00000 38.00000, -59.82263 37.9...
7592  LINESTRING (-59.82263 37.98811, -58.69995 37.8...

[7593 rows x 44 columns]

In [10]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.0.2)

In [11]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

In [12]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [13]:
import pymongo
import pprint

In [18]:

connection_url = "mongodb+srv://"+ "Libikaa"+ ":" + "kannan05@zerodown.sbnvj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

client=pymongo.MongoClient(connection_url)

In [19]:
client.test

Database(MongoClient(host=['zerodown-shard-00-01.sbnvj.mongodb.net:27017', 'zerodown-shard-00-00.sbnvj.mongodb.net:27017', 'zerodown-shard-00-02.sbnvj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-uy4r4t-shard-0', tls=True), 'test')

In [10]:
df.to_csv("dataset.csv")